<h2 mat-dialog-title>Settings</h2>

<form #settingsForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <mat-dialog-content fxLayout="column">
    <p style="margin-top: 0;">
      The data key identifies your personal finance database when syncing it
      to the server. To access your data on a different device, enter this key
      in the settings of that device.
    </p>
    <mat-form-field floatLabel="always">
      <input
          #dataKey="ngModel"
          matInput
          name="dataKey"
          [(ngModel)]="storageSettings.dataKey"
          [pattern]="dataKeyPattern"
          placeholder="Data key"
          required>
    </mat-form-field>

    <p class="error" *ngIf="dataKey.invalid && dataKey.touched && dataKey.errors.required">
      Please enter a data key.
    </p>
    <p class="error" *ngIf="dataKey.invalid && dataKey.touched && dataKey.errors.pattern">
      The pattern of the data key is incorrect.
      It should have the form of XXXX-XXXX-XXXX-XXXX.
    </p>
  </mat-dialog-content>
  
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!settingsForm.valid" color="primary">Save</button>
  </mat-dialog-actions>
</form>
