
.add-button {
  margin-left: 8px;
}

.comment-card {
  margin-top: 20px !important;
  padding-top: 0px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.comment-card.archived {
  opacity: 0.5;
}

.comment-date {
  margin-right: 12px;
  font-size: 80%;
  color: #888888;
}
