<mat-form-field
    (focusin)="onFocusIn()"
    (focusout)="onFocusOut(labelAutocomplete.isOpen)"
    (click)="$event.stopPropagation()"
    floatLabel="never"
    fxFill>
  <input
      #labelInput
      (keydown.enter)="newLabel==='' ? 0 : $event.preventDefault()"
      (keyup.enter)="confirmAdd()"
      (keydown.backspace)="newLabel==='' ? requestDelete() : 0"
      (keydown.escape)="newLabel=''; labelInput.blur()"
      (keydown.arrowup)="labelAutocomplete.isOpen ? $event.stopPropagation() : 0"
      (keydown.arrowdown)="labelAutocomplete.isOpen ? $event.stopPropagation() : 0"
      [(ngModel)]="newLabel"
      matInput
      [matAutocomplete]="labelAutocomplete"
      placeholder="Add label">
  <button
      type="button"
      (click)="confirmAdd()"
      [hidden]="!isOpen"
      tabindex="-1"
      mat-icon-button
      matSuffix>
    <mat-icon>check</mat-icon>
  </button>
  <button
      type="button"
      (focus)="labelInput.focus()"
      [hidden]="isOpen"
      tabindex="-1"
      mat-icon-button
      matSuffix>
    <mat-icon>add</mat-icon>
  </button>

  <mat-autocomplete
      #labelAutocomplete="matAutocomplete"
      autoActiveFirstOption
      (optionSelected)="confirmAdd()"
      (closed)="onAutocompleteClose()">
    <mat-option
        *ngFor="let label of allLabelsFiltered$ | async"
        [value]="label">
      {{label}}
    </mat-option>
    <mat-option
        *ngIf="(newlyCreatedLabelSuggestion$ | async) as labelSugg"
        [value]="labelSugg"
        class="new-label-option">
      Create "{{labelSugg}}" ...
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
