<div fxLayout="row wrap" fxLayoutAlign="start center">
  <app-label
      *ngFor="let label of labels"
      canClick canDelete
      [title]="labelTitle"
      (click)="$event.stopPropagation(); emitLabelClick(label, $event)"
      (delete)="labelDelete.emit(label)">
    {{label}}
  </app-label>

  <app-add-inline-label
      #addInlineLabel
      [excludedLabels]="labels"
      (addRequested)="labelAdd.emit($event)"
      (deleteLastRequested)="labels.length > 0 ? labelDeleteLast.emit() : 0"
      class="add-inline-label"
      [class.open]="alwaysOpen || addInlineLabel.isOpen">
  </app-add-inline-label>
</div>
