<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    Labels
  </mat-card-title>
</mat-card>

<div class="main-card">
  <mat-expansion-panel *ngFor="let label of allLabels$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title fxFlex="50">{{label.name}}</mat-panel-title>
      <mat-panel-description>{{label.numTransactions}} transactions</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div fxLayout="column">
        <!--
        <mat-form-field>
          <input
              matInput
              name="displayColor"
              placeholder="Display color">
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              placeholder="Transaction row display color">
        </mat-form-field>
        -->
        <app-billing-info
            unknownPeriodLabel="Default"
            [billing]="getBillingForLabel(label.name)"
            (billingChange)="updateBillingForLabel(label.name, $event)">
        </app-billing-info>
      </div>
    </ng-template>
  </mat-expansion-panel>
</div>
