<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    Labels
  </mat-card-title>
</mat-card>

<div class="main-card">
  <mat-expansion-panel *ngFor="let label of allLabels$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title fxFlex="50">{{label.name}}</mat-panel-title>
      <mat-panel-description>{{label.numTransactions}} transactions</mat-panel-description>
    </mat-expansion-panel-header>

    <p>Coming soon: Editing labels.</p>
  </mat-expansion-panel>
</div>
