<h2 mat-dialog-title>Label dominance order</h2>

<form (ngSubmit)="onSubmit()" fxLayout="column" class="dominance-form">
  <mat-dialog-content fxLayout="column">
    <p style="margin-top: 0;">
      Define how transactions with multiple labels should show up in analytics.
      Labels with a higher dominance value are considered exclusively and "absorb"
      other labels on the same transaction with a lower dominance value.
    </p>
    <p style="margin-top: 0;">
      If multiple labels on a transaction have the same dominance value, they form
      a new combined label type.
    </p>
    <ng-container *ngFor="let group of labelsViewModel; first as isFirst">
      <div *ngIf="!isFirst" class="separator"></div>
      <table>
        <tr *ngIf="isFirst; else notFirst">
          <th align="left">Label</th>
          <th align="left" width="100">Dominance value</th>
        </tr>
        <ng-template #notFirst>
          <tr>
            <th></th>
            <th width="100"></th>
          </tr>
        </ng-template>
        <tr
            *ngFor="let labelInfo of group"
            class="label-row"
            [class.irrelevant]="labelInfo.combinations.length === 0">
          <td class="label-cell" [matTooltip]="formatLabelTooltip(labelInfo)">
            <app-label inline [label]="labelInfo.label"></app-label>
          </td>
          <td>
            <input
                type="number"
                [name]="labelInfo.label"
                [(ngModel)]="labelInfo.dominanceValue">
          </td>
        </tr>
      </table>
    </ng-container>
  </mat-dialog-content>
  
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" color="primary">Save</button>
  </mat-dialog-actions>
</form>
