.dominance-form {
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.label-row.irrelevant {
  color: rgba(0, 0, 0, 0.5);
}
.label-row.irrelevant input {
  opacity: 0.5;
}

.label-row:nth-child(even) .label-cell {
  background: #eee;
}
