.dominance-form {
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.label-row.irrelevant {
  opacity: 0.5;
}

.label-row:nth-child(even) td {
  background: #eee;
}

.separator {
  height: 2px;
  flex-shrink: 0;
  background: #ccc;
  margin: 0.5em 0;
}
