
.add-inline-label {
  margin-top: -11px;
  margin-bottom: -15px;
  width: 20px;
  flex: 0 0 auto;
  transition: flex-grow 0.2s;
}

.add-inline-label.open {
  width: 75px;
  flex-grow: 1;
}

@media screen and (max-width: 959px) {
  .label-button,
  .label-delete-button {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
