<button
    mat-fab
    (click)="trigger.panelOpen || openPresetsPanel()"
    matTooltip="Presets">
  <mat-icon [class.upsidedown]="trigger.panelOpen">arrow_drop_down</mat-icon>
</button>

<div class="preset-dropdown-origin-wrapper">
  <div class="preset-dropdown-origin" #origin="matAutocompleteOrigin" matAutocompleteOrigin>
    <input type="hidden" #trigger="matAutocompleteTrigger" [matAutocomplete]="dropdown" [matAutocompleteConnectedTo]="origin">
    <mat-autocomplete #dropdown
        (optionSelected)="$event.option.value === 'new' ? startAddPreset() : selectPreset($event.option.value)">
      <mat-option *ngFor="let preset of presets$ | async" [value]="preset">{{preset.name}}</mat-option>
      <mat-option value="new" class="create-option">Create preset ...</mat-option>
    </mat-autocomplete>
  </div>
</div>