<h2 mat-dialog-title>Import CSV</h2>

<mat-dialog-content fxLayout="column">
  <p style="margin-top: 0;">
    Every bank has their own CSV format. For now, support for a new bank has to be manually added.<br>
    If your bank is not listed under "File format", please
    <a href="https://github.com/Bone008/finance-tracker/issues/new" target="_blank">open an issue on GitHub</a>.
  </p>

  <mat-form-field floatLabel="always">
    <mat-select
        name="account"
        [(ngModel)]="targetAccount"
        placeholder="Target account">
      <mat-select-trigger>
        <mat-icon>{{targetAccount?.icon}}</mat-icon>&nbsp;{{targetAccount?.name}}
      </mat-select-trigger>
      <mat-option
          *ngFor="let account of allAccounts$ | async"
          [value]="account">
        <mat-icon>{{account.icon}}</mat-icon>&nbsp;{{account.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-form-field-wrapper">
    <label>
      <span class="custom-field-label">Select file to import</span>
      <input *ngIf="!forcedFileName" type="file" (change)="file = $event.target.files[0]">
      <span *ngIf="forcedFileName" class="forced-file-name">{{forcedFileName}}</span>
    </label>
  </div>
  <mat-form-field>
    <mat-select [(ngModel)]="fileFormat" placeholder="File format">
      <mat-option value="deutsche_bank">Deutsche Bank</mat-option>
      <mat-option value="dkb">Deutsche Kreditbank (DKB) - CSV</mat-option>
      <mat-option value="dkb_custom">Deutsche Kreditbank (DKB) - API Export</mat-option>
      <mat-option value="generic_en">Generic English</mat-option>
      <mat-option value="ing">ING DiBa</mat-option>
      <mat-option value="ksk_camt">Kreissparkasse CAMT</mat-option>
      <mat-option value="ksk_creditcard">Kreissparkasse Kreditkarte</mat-option>
      <mat-option value="mlp">MLP</mat-option>
      <mat-option value="n26">N26</mat-option>
      <mat-option value="paypal_de">PayPal (DE)</mat-option>
      <mat-option value="paypal_en">PayPal (EN)</mat-option>
      <mat-option value="revolut">Revolut</mat-option>
      <mat-option value="ubs">UBS Group AG</mat-option>
      <mat-option value="vimpay">VimPay</mat-option>
      <mat-option value="wise">Wise (TransferWise)</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="fileEncoding" [disabled]="isEncodingForced" placeholder="File encoding">
      <mat-option value="utf-8">UTF-8</mat-option>
      <mat-option value="windows-1252">Windows-1252</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="duplicateCount > 0">
    Skipped {{duplicateCount}} transactions that have already been imported.
  </p>
  <p *ngIf="entriesToImport.length > 0">
    Found {{entriesToImport.length}} new transactions between {{getPreviewMinDate() | date}} and {{getPreviewMaxDate() | date}}.
  </p>
  <div *ngIf="errors.length > 0">
    <p>There were errors:</p>
    <ul>
      <li class="error" *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
      mat-button
      color="primary"
      [disabled]="entriesToImport.length === 0"
      (click)="onSubmit()">
    Import
  </button>
</mat-dialog-actions>
