<h2 mat-dialog-title>Import CSV</h2>

<mat-dialog-content>
  <div class="mat-form-field-wrapper">
    <label>
      <span class="file-label">Select file to import</span>
      <input type="file" (change)="setFile($event.target.files[0])">
    </label>
  </div>
  <mat-form-field>
    <mat-select [(ngModel)]="fileFormat" placeholder="File format">
      <mat-option value="ksk_camt">Kreissparkasse CAMT</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="entriesToImport.length > 0">
    Found {{entriesToImport.length}} transactions between {{getPreviewMinDate() | date}} and {{getPreviewMaxDate() | date}}.
  </p>
  <div *ngIf="errors.length > 0">
    <p>There were errors:</p>
    <ul>
      <li class="error" *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="entriesToImport.length === 0">Import</button>
</mat-dialog-actions>
