
.shared-by-all-notice {
  margin: 5px 0;
  text-align: center;
}

.label-container {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #eef;
  border: 1px solid #999;
  border-radius: 5px;
}

.label-name,
.label-value {
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.label-value {
  border-left: 1px solid #999;
}
