<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    Analytics
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="row">
      <app-filter-input fxFlex [state]="filterState"></app-filter-input>
      <mat-checkbox
          (change)="averageOver3MonthsSubject.next($event.checked)"
          [checked]="averageOver3MonthsSubject | async">
        Average over 3 months
      </mat-checkbox>
    </div>

    <p>Analyzed {{matchingTransactionCount}} out of {{totalTransactionCount}} transactions.</p>

    <app-chart type="bar" [data]="monthlyChartData" (elementClick)="onChartBucketClick($event.index)"></app-chart>
    <hr>
    <div *ngIf="labelsSharedByAll.length > 0" class="shared-by-all-notice">
      <span>The label{{labelsSharedByAll.length === 1 ? '' : 's'}}&nbsp;</span>
      <div *ngFor="let lbl of labelsSharedByAll" class="label-container" style="display: inline-block;">
        <span class="label-name">{{lbl}}</span>
      </div>
      <span>{{labelsSharedByAll.length === 1 ? 'is' : 'are'}} not shown in the chart below, because
        all analyzed transactions include {{labelsSharedByAll.length === 1 ? 'it' : 'them'}}.
      </span>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <app-chart fxFlex="50" type="pie" [data]="labelBreakdownChartData[0]"></app-chart>
      <app-chart fxFlex="50" type="pie" [data]="labelBreakdownChartData[1]"></app-chart>
    </div>
    <hr>

    <h3>Monthly averages:</h3>
    <table>
      <tr>
        <th></th>
        <th align="right">Expenses</th>
        <th align="right">Income</th>
        <th align="right">#</th>
      </tr>
      <tr>
        <th align="left">Mean</th>
        <td align="right" class="negative">{{monthlyMeanBucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMeanBucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMeanBucket.numTransactions | number:'1.0-1'}}</td>
      </tr>
      <tr>
        <th align="left">Median</th>
        <td align="right" class="negative">{{monthlyMedianBucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMedianBucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMedianBucket.numTransactions | number:'1.0-1'}}</td>
      </tr>
    </table>
    <hr>

    <table width="100%">
      <tr>
        <th align="left">Month</th>
        <th align="right">#</th>
        <th align="right">Expenses</th>
        <th align="right">Income</th>
        <th align="right">Balance</th>
        <th align="left">Top labels</th>
      </tr>
      <tr *ngFor="let bucket of buckets">
          <td align="left">{{bucket.name}}</td>
          <td align="right">{{bucket.numTransactions}}</td>
          <td align="right" class="negative">{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
          <td align="right">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
          <td align="right" [class.negative]="bucket.totalPositive + bucket.totalNegative < 0">
            {{(bucket.totalPositive + bucket.totalNegative) | number:'1.2-2'}}&nbsp;€
          </td>
          <td fxLayout="row wrap">
            <div *ngFor="let lbl of bucket.topLabels" class="label-container">
              <span class="label-name">{{lbl[0]}}</span>
              <span class="label-value" [class.negative]="lbl[1] < 0">{{lbl[1] | number:'1.2-2'}}&nbsp;€</span>
            </div>
          </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
