<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    Analytics
  </mat-card-title>

  <mat-card-content>
    <div class="filter-container">
      <app-filter-input [state]="filterState"></app-filter-input>
    </div>

    <p *ngIf="labelGroups.length > 0" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
      <span>Collapse child labels:</span>
      <button mat-stroked-button (click)="collapseAllGroups()" class="collapse-button">All</button>
      <button mat-stroked-button (click)="uncollapseAllGroups()" class="collapse-button">None</button>
      <mat-checkbox
          *ngFor="let group of labelGroups"
          (change)="group.shouldCollapse = $event.checked; labelCollapseSubject.next()"
          [checked]="group.shouldCollapse">
        {{group.parentName}}&nbsp;({{group.children.length}})
      </mat-checkbox>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <span>Label dominance order:&nbsp;&nbsp;</span>
      <button mat-mini-fab color="accent" (click)="openLabelDominanceDialog()"><mat-icon>edit</mat-icon></button>
      <span fxFlex></span>
    
      <mat-checkbox
          (change)="ignoreBillingPeriodSubject.next($event.checked)"
          [checked]="ignoreBillingPeriodSubject | async">
        Ignore billing period
      </mat-checkbox>
    </p>

    <hr>
    <p>Analyzed {{matchingTransactionCount}} out of {{totalTransactionCount}} transactions.</p>
    <hr>
    <app-label-breakdown
        [labelGroups]="labelGroups"
        [transactions]="matchingTransactions"
        (groupClick)="onLabelBucketClick($event, false)"
        (groupAltClick)="onLabelBucketClick($event, true)">
    </app-label-breakdown>
    <hr>
    <app-chart type="bar" [data]="monthlyChartData" (elementClick)="onChartBucketClick($event.index, $event.mouseEvent.altKey)"></app-chart>
    <p *ngIf="hasFilteredPartiallyBilledTransactions">Note: Some transactions are partially billed for the selected date range. Their contributions to other months are not shown.</p>
    <hr>

    <h3>Monthly averages:</h3>
    <table class="table-averages">
      <tr>
        <th></th>
        <th align="right">#</th>
        <th align="right">Expenses</th>
        <th align="right">Income</th>
      </tr>
      <tr>
        <th align="left">Mean</th>
        <td align="right">{{monthlyMeanBucket.numTransactions | number:'1.0-1'}}</td>
        <td align="right" class="negative">{{monthlyMeanBucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMeanBucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
      </tr>
      <tr>
        <th align="left">Median</th>
        <td align="right">{{monthlyMedianBucket.numTransactions | number:'1.0-1'}}</td>
        <td align="right" class="negative">{{monthlyMedianBucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{monthlyMedianBucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
      </tr>
    </table>
    <hr>

    <table class="table-monthly-overview">
      <tr>
        <th align="left">Month</th>
        <th align="right">#</th>
        <th align="right">Expenses</th>
        <th align="right">Income</th>
        <th align="right">Balance</th>
      </tr>
      <tr *ngFor="let bucket of buckets">
          <td align="left">{{bucket.name}}</td>
          <td align="right">{{bucket.numTransactions}}</td>
          <td align="right" class="negative">{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
          <td align="right">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
          <td align="right" [class.negative]="bucket.totalPositive + bucket.totalNegative < 0">
            {{(bucket.totalPositive + bucket.totalNegative) | number:'1.2-2'}}&nbsp;€
          </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
