<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    Analytics
  </mat-card-title>

  <mat-card-content>
    <div class="filter-container">
      <app-filter-input [state]="filterState"></app-filter-input>
    </div>

    <p *ngIf="labelGroups.length > 0" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
      <span>Collapse child labels:</span>
      <button mat-stroked-button (click)="collapseAllGroups()" class="collapse-button">All</button>
      <button mat-stroked-button (click)="uncollapseAllGroups()" class="collapse-button">None</button>
      <mat-checkbox
          *ngFor="let group of labelGroups"
          (change)="group.shouldCollapse = $event.checked; labelCollapseSubject.next()"
          [checked]="group.shouldCollapse">
        {{group.parentName}}&nbsp;({{group.children.length}})
      </mat-checkbox>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <span>Label dominance order:&nbsp;&nbsp;</span>
      <button mat-mini-fab color="accent" (click)="openLabelDominanceDialog()"><mat-icon>edit</mat-icon></button>
      <span fxFlex></span>
    
      <mat-checkbox
          (change)="ignoreBillingPeriodSubject.next($event.checked)"
          [checked]="ignoreBillingPeriodSubject | async">
        Ignore billing period
      </mat-checkbox>
    </p>

    <hr>
    <p>Analyzed {{matchingTransactionCount}} out of {{totalTransactionCount}} transactions.</p>
    <p *ngIf="hasFilteredPartiallyBilledTransactions">
      Note: Some transactions are partially billed for the selected date range.
      Their contributions to other months are not shown.
    </p>
    <hr>

    <app-label-breakdown
        [labelGroups]="labelGroups"
        [billedTransactionBuckets]="billedTransactionBuckets"
        (groupClick)="onLabelGroupClick($event, false)"
        (groupAltClick)="onLabelGroupClick($event, true)">
    </app-label-breakdown>
    
    <hr>

    <app-bucket-breakdown
        [billedTransactionBuckets]="billedTransactionBuckets"
        (bucketClick)="onChartBucketClick($event, false)"
        (bucketAltClick)="onChartBucketClick($event, true)">
    </app-bucket-breakdown>
  </mat-card-content>
</mat-card>
