
.mat-table {
  width: 100%;
  max-width: 550px;
  margin-bottom: 1em;
}

.mat-column-numTransactions,
.mat-column-totalNegative,
.mat-column-totalPositive,
.mat-column-balance {
  text-align: right;
}

.mat-header-cell.mat-column-numTransactions,
.mat-header-cell.mat-column-totalNegative,
.mat-header-cell.mat-column-totalPositive,
.mat-header-cell.mat-column-balance {
  direction: rtl;
}

.table-aggregates .mat-column-name {
  font-weight: bold;
}
