
$table-width: 550px;

.mat-table {
  width: 100%;
  max-width: $table-width;
  margin-bottom: 1em;
}

.mat-column-numTransactions,
.mat-column-totalNegative,
.mat-column-totalPositive,
.mat-column-balance {
  text-align: right;
}

.mat-header-cell.mat-column-numTransactions,
.mat-header-cell.mat-column-totalNegative,
.mat-header-cell.mat-column-totalPositive,
.mat-header-cell.mat-column-balance {
  direction: rtl;
}

.table-aggregates .mat-column-name {
  font-weight: bold;
}

.bottom-help-text {
  // TODO: include .secondary
  max-width: $table-width;
  text-align: center;
  color: rgba(0,0,0, 0.66);
  font-size: 90%;
}