<div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <mat-checkbox
        (change)="showCombined = $event.checked"
        [checked]="showCombined"
        [disabled]="(chartDataExpenses.datasets!.length === 0) !== (chartDataIncome.datasets!.length === 0)">
      Combine expenses &amp; income
    </mat-checkbox>
    
    <mat-checkbox
        (change)="showLabels = $event.checked"
        [checked]="showLabels">
      Show label colors
    </mat-checkbox>
  </div>

  <div *ngIf="showCombined || (chartDataExpenses.datasets!.length === 0) !== (chartDataIncome.datasets!.length === 0); else separate">
    <!--
      Note that a bug-free update is depending on showLegend switching with showLabels, which reinits
      the underlying chart. Otherwise there are bugs where income/expense do not show up in separate stacks.
      Fixed in a more recent version of chart.js: https://github.com/chartjs/Chart.js/issues/6895
    -->
    <app-chart
        type="bar"
        [showLegend]="!showLabels"
        [data]="chartDataCombined"
        [tooltipCallbacks]="chartTooltipCallback"
        (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
    </app-chart>
  </div>
  <ng-template #separate>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
      <div fxFlex="50" fxLayout="column" [hidden]="chartDataExpenses.datasets!.length === 0 && chartDataIncome.datasets!.length > 0">
        <h3 fxFlexAlign="center" fxHide fxShow.lt-md>Expenses</h3>
        <app-chart
            type="bar"
            [showLegend]="false"
            [data]="chartDataExpenses"
            [tooltipCallbacks]="chartTooltipCallback"
            (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
        </app-chart>
      </div>
      <div fxFlex="50" fxLayout="column" [hidden]="chartDataIncome.datasets!.length === 0 && chartDataExpenses.datasets!.length > 0">
        <h3 fxFlexAlign="center" fxHide fxShow.lt-md>Income</h3>
        <app-chart
            type="bar"
            [showLegend]="false"
            [data]="chartDataIncome"
            [tooltipCallbacks]="chartTooltipCallback"
            (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
        </app-chart>
      </div>
    </div>
  </ng-template>
  
  <hr>

  <h3>Monthly overview:</h3>
  <table class="table-averages">
    <tr>
      <th></th>
      <th align="right">#</th>
      <th align="right">Expenses</th>
      <th align="right">Income</th>
    </tr>
    <tr *ngFor="let bucket of aggregateBucketRows">
      <th align="left">{{bucket.name}}</th>
      <td align="right">{{bucket.numTransactions | number:'1.0-1'}}</td>
      <td align="right" class="negative">{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
      <td align="right">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
    </tr>
  </table>
  <hr>

  <table class="table-monthly-overview">
    <tr>
      <th align="left">Month</th>
      <th align="right">#</th>
      <th align="right">Expenses</th>
      <th align="right">Income</th>
      <th align="right">Balance</th>
    </tr>
    <tr *ngFor="let bucket of bucketRows">
        <td align="left">{{bucket.name}}</td>
        <td align="right">{{bucket.numTransactions}}</td>
        <td align="right" class="negative">{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€</td>
        <td align="right">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
        <td align="right" [class.negative]="bucket.totalPositive + bucket.totalNegative < 0">
          {{(bucket.totalPositive + bucket.totalNegative) | number:'1.2-2'}}&nbsp;€
        </td>
    </tr>
  </table>
</div>
