<div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <mat-checkbox
        (change)="showCombined = $event.checked"
        [checked]="showCombined"
        [disabled]="(chartDataExpenses.datasets!.length === 0) !== (chartDataIncome.datasets!.length === 0)">
      Combine expenses &amp; income
    </mat-checkbox>
    
    <mat-checkbox
        (change)="showLabels = $event.checked"
        [checked]="showLabels">
      By label
    </mat-checkbox>

    <mat-button-toggle-group [(value)]="chartType" aria-label="Chart Type">
      <mat-button-toggle value="line">
        <mat-icon>show_chart</mat-icon> Line
      </mat-button-toggle>
      <mat-button-toggle value="bar">
        <mat-icon>bar_chart</mat-icon> Bar
      </mat-button-toggle>
    </mat-button-toggle-group>
  

    <mat-form-field appearance="fill" fxFlex="100px" style="height: 55px;">
      <mat-label>Smoothing</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="smoothingFactor" />
    </mat-form-field>
  </div>

  <div *ngIf="showCombined || (chartDataExpenses.datasets!.length === 0) !== (chartDataIncome.datasets!.length === 0); else separate">
    <!--
      Note that a bug-free update is depending on showLegend switching with showLabels, which reinits
      the underlying chart. Otherwise there are bugs where income/expense do not show up in separate stacks.
      Fixed in a more recent version of chart.js: https://github.com/chartjs/Chart.js/issues/6895
    -->
    <app-chart
        [type]="chartType"
        [showLegend]="!showLabels"
        [data]="chartDataCombined"
        [tooltipCallbacks]="chartTooltipCallback"
        (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
    </app-chart>
  </div>
  <ng-template #separate>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
      <div fxFlex="50" fxLayout="column" [hidden]="chartDataExpenses.datasets!.length === 0 && chartDataIncome.datasets!.length > 0">
        <h3 fxFlexAlign="center" fxHide fxShow.lt-md>Expenses</h3>
        <app-chart
            [type]="chartType"
            [showLegend]="false"
            [data]="chartDataExpenses"
            [tooltipCallbacks]="chartTooltipCallback"
            (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
        </app-chart>
      </div>
      <div fxFlex="50" fxLayout="column" [hidden]="chartDataIncome.datasets!.length === 0 && chartDataExpenses.datasets!.length > 0">
        <h3 fxFlexAlign="center" fxHide fxShow.lt-md>Income</h3>
        <app-chart
            [type]="chartType"
            [showLegend]="false"
            [data]="chartDataIncome"
            [tooltipCallbacks]="chartTooltipCallback"
            (elementClick)="onBucketClick($event.index, $event.mouseEvent.altKey)">
        </app-chart>
      </div>
    </div>
  </ng-template>
  
  <hr>

  <h3>Overview:</h3>
  
  <table *ngIf="aggregateBucketRows.length > 0" mat-table [dataSource]="aggregateBucketRows" class="table-aggregates">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let bucket">{{bucket.name}}</td>
    </ng-container>
    <ng-container matColumnDef="numTransactions">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let bucket">{{bucket.numTransactions | number:'1.0-1'}}</td>
    </ng-container>
    <ng-container matColumnDef="totalNegative">
      <th mat-header-cell *matHeaderCellDef>Expenses</th>
      <td mat-cell *matCellDef="let bucket" class="negative">
        -{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€
      </td>
    </ng-container>
    <ng-container matColumnDef="totalPositive">
      <th mat-header-cell *matHeaderCellDef>Income</th>
      <td mat-cell *matCellDef="let bucket">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let bucket" [class.negative]="bucket.balance < 0">
        {{(bucket.balance) | number:'1.2-2'}}&nbsp;€
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="bucketColumnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: bucketColumnNames;"></tr>
  </table>
  
  <table mat-table [dataSource]="bucketRowsSource" matSort matSortDisableClear>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let bucket">{{bucket.name}}</td>
    </ng-container>
    <ng-container matColumnDef="numTransactions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let bucket">{{bucket.numTransactions | number:'1.0-1'}}</td>
    </ng-container>
    <ng-container matColumnDef="totalNegative">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expenses</th>
      <td mat-cell *matCellDef="let bucket" class="negative">
        -{{bucket.totalNegative | number:'1.2-2'}}&nbsp;€
      </td>
    </ng-container>
    <ng-container matColumnDef="totalPositive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Income</th>
      <td mat-cell *matCellDef="let bucket">{{bucket.totalPositive | number:'1.2-2'}}&nbsp;€</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
      <td mat-cell *matCellDef="let bucket" [class.negative]="bucket.balance < 0">
        {{(bucket.balance) | number:'1.2-2'}}&nbsp;€
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="bucketColumnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: bucketColumnNames;"></tr>
  </table>

  <p [fxShow]="bucketRowsSource.filteredData.length > 1" class="bottom-help-text">Click on the column headers to sort the table.</p>
</div>
