<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
  <div fxFlex="50" fxLayout="column" [hidden]="hasData[1] && !hasData[0]">
    <h3 fxFlexAlign="center">Expenses</h3>
    <app-chart
        type="pie"
        [data]="chartData[0]"
        [tooltipCallbacks]="chartTooltipCallbacks[0]"
        (elementClick)="onElementClick(0, $event)">
    </app-chart>
  </div>
  <div fxFlex="50" fxLayout="column" [hidden]="hasData[0] && !hasData[1]">
    <h3 fxFlexAlign="center">Income</h3>
    <app-chart
        type="pie"
        [data]="chartData[1]"
        [tooltipCallbacks]="chartTooltipCallbacks[1]"
        (elementClick)="onElementClick(1, $event)">
    </app-chart>
  </div>
</div>
