<form #editForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <div class="title-container" fxLayout="row" fxLayoutAlign="stretch start">
    <h2 mat-dialog-title fxFlex>{{editMode==='edit' ? 'Edit' : 'Add'}} transaction</h2>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </div>

  <mat-dialog-content fxLayout="column">
    <mat-tab-group
        fxFlex="none"
        [selectedIndex]="isNegative ? 0 : 1"
        (selectedTabChange)="isNegative = ($event.index === 0)">
      <mat-tab label="Expense"></mat-tab>
      <mat-tab label="Income"></mat-tab>
    </mat-tab-group>

    <div fxFlex="none" fxLayout="row" fxLayoutGap="1em" fxLayout.lt-md="column" fxLayoutGap.lt-md="0">
      <div fxFlex="none" fxFlex.gt-sm="60" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="0">
          <mat-form-field fxFlex="none" fxFlex.gt-xs="50">
            <input
                matInput
                type="date"
                name="date"
                [ngModel]="getDate() | date:'yyyy-MM-dd'"
                (ngModelChange)="setDate($event)"
                placeholder="Date"
                required>
          </mat-form-field>
          <mat-form-field
              fxFlex="none"
              fxFlex.gt-xs="50"
              class="amount-field"
              [class.negative]="isNegative">
            <input
                cdkFocusInitial
                matInput
                type="number"
                name="amount"
                min="0"
                step="0.01"
                [ngModel]="getAbsoluteAmount() || null"
                (ngModelChange)="setAmount($event)"
                [ngModelOptions]="{updateOn: 'blur'}"
                placeholder="Amount"
                required>
            <span matSuffix>&nbsp;€</span>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input
              matInput
              name="reason"
              [(ngModel)]="singleData.reason"
              placeholder="Reason">
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="who"
              [(ngModel)]="singleData.who"
              placeholder="Who">
        </mat-form-field>
        <app-transaction-labels
            alwaysOpen="true"
            [labels]="transaction.labels"
            (labelAdd)="addLabel($event)"
            (labelDelete)="deleteLabel($event)"
            (labelDeleteLast)="deleteLabel(transaction.labels[transaction.labels.length-1])">
        </app-transaction-labels>
      </div>

      <div fxFlex="none" fxFlex.gt-sm="40" fxLayout="column">
        <mat-form-field>
          <textarea
              matInput
              name="comment"
              [(ngModel)]="singleData.comment"
              placeholder="Comment"
              rows="3">
          </textarea>
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="whoIdentifier"
              [(ngModel)]="singleData.whoIdentifier"
              placeholder="Account number">
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="bookingText"
              [(ngModel)]="singleData.bookingText"
              placeholder="Booking text">
        </mat-form-field>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
            <mat-checkbox
                name="isCash"
                [(ngModel)]="singleData.isCash">
              Cash
            </mat-checkbox>
            <mat-checkbox
                name="isInternal"
                [(ngModel)]="transaction.isInternal">
              Internal
            </mat-checkbox>
            <mat-checkbox
                name="isAmountEstimate"
                [(ngModel)]="singleData.amount!.isEstimate">
              Estimate
            </mat-checkbox>
        </div>
      </div>
    </div>
    
    <p *ngIf="editMode==='edit'">
      This transaction is {{singleData.importedRowId > 0 ? 'linked to CSV row #' + singleData.importedRowId : 'not linked to a CSV row'}}.<br>
      It was created on {{getDateCreated() | date:'medium'}} and
      {{getDateModified() ? 'modified on ' + (getDateModified() | date:'medium') : 'never modified'}}.
    </p>
  </mat-dialog-content>
  
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </mat-dialog-actions>
</form>
