@media screen and (max-width: 599px) {
  .title-container {
    margin-top: -10px;
  }
  .title-container .mat-dialog-title {
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 960px) {
  .mat-dialog-content {
    width: 760px;
  }
}

.mat-tab-group {
  padding-bottom: 1.25em;
}
