.filter-input {
  margin-top: 1em;
}

.actions-container {
  position: relative;
  margin-bottom: 1em;
}

.add-action-button {
  position: absolute;
  right: 1em;
  top: -2em;
}

@media screen and (min-width: 960px) {
  .mat-dialog-content {
    width: 760px;
  }
}
