<form #editForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <div class="title-container" fxLayout="row" fxLayoutAlign="stretch start">
    <h2 mat-dialog-title fxFlex>{{editMode==='edit' ? 'Edit' : 'Add'}} rule</h2>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </div>

  <mat-dialog-content fxLayout="column">
    <fieldset fxLayout="column">
      <legend class="custom-field-label">Triggers</legend>
      <mat-checkbox
          name="triggerAdded"
          [(ngModel)]="triggerAdded">
        Transaction is manually added.
      </mat-checkbox>
      <mat-checkbox
          name="triggerImported"
          [(ngModel)]="triggerImported">
        Transaction is imported from a CSV file.
      </mat-checkbox>
      <mat-checkbox
          name="triggerModified"
          [(ngModel)]="triggerModified">
        Transaction is modified in any way.
      </mat-checkbox>
    </fieldset>

    <app-filter-input class="filter-input" [state]="filterState"></app-filter-input>

    <div class="filter-preview">
      <span>This filter currently matches {{matchingTxsInfo.description}}</span>
      <ng-container *ngFor="let labelSet of matchingTxsInfo.labelSets; let first = first; let last = last">
        <span *ngIf="first" class="set-bracket"> {{ matchingTxsInfo.labelSets.length > 1 ? '{' : '' }}&nbsp;</span>
        <app-label *ngFor="let label of labelSet" inline>{{label}}</app-label>
        <span *ngIf="!last">,&nbsp; </span>
        <span *ngIf="last && matchingTxsInfo.labelSets.length > 1" class="set-bracket">{{ '}' }}</span>
      </ng-container>
      <span>.</span>
    </div>
    
    <fieldset class="actions-container" fxLayout="column">
      <legend class="custom-field-label" fxLayout="row">
        <span fxFlex>Actions</span>
      </legend>

      <div
          *ngFor="let action of rule.actions; let i = index"
          class="action-row"
          fxLayout="row"
          fxLayoutGap="10px">
        <mat-form-field fxFlex="120px">
          <mat-select
              name="actionType-{{i}}"
              [ngModel]="action.type"
              (ngModelChange)="setActionType(action, $event)"
              placeholder="Type">
            <mat-option value="addLabel">Add label</mat-option>
            <mat-option value="removeLabel">Remove label</mat-option>
            <mat-option value="setField">Set field</mat-option>
          </mat-select>
        </mat-form-field>
        
        <div *ngIf="action.type === 'addLabel'" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <app-label
              #addChip
              [hidden]="!action.addLabel"    
              canClick canDelete
              (delete)="action.addLabel = ''; focusDelayed(addInline)">
            {{action.addLabel}}
          </app-label>
          <app-add-inline-label
              #addInline
              [hidden]="!!action.addLabel" fxFlex
              (addRequested)="action.addLabel = $event; addInline.isOpen ? focusDelayed(addChip) : 0">
          </app-add-inline-label>
        </div>
        
        <!-- direct copy if addLabel counterpart, make sure to keep in sync -->
        <div *ngIf="action.type === 'removeLabel'" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <app-label
              #removeChip
              [hidden]="!action.removeLabel"    
              canClick canDelete
              (delete)="action.removeLabel = ''; focusDelayed(removeInline)">
            {{action.removeLabel}}
          </app-label>
          <app-add-inline-label
              #removeInline
              [hidden]="!!action.removeLabel" fxFlex
              (addRequested)="action.removeLabel = $event; removeInline.isOpen ? focusDelayed(removeChip) : 0">
          </app-add-inline-label>
        </div>
        
        <mat-form-field *ngIf="action.type === 'setField'" class="set-field-name">
          <mat-select
              name="actionFieldName-{{i}}"
              [(ngModel)]="action.setField.fieldName"
              placeholder="Field">
            <mat-option value="date">Date</mat-option>
            <mat-option value="amount">Amount</mat-option>
            <mat-option value="reason">Reason</mat-option>
            <mat-option value="who">Who</mat-option>
            <mat-option value="comment">Comment</mat-option>
            <mat-option value="whoIdentifier">IBAN</mat-option>
            <mat-option value="bookingText">Booking text</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="action.type === 'setField'" class="set-field-value">
          <input
              matInput
              name="actionFieldValue-{{i}}"
              [(ngModel)]="action.setField.value"
              placeholder="Value">
          <mat-icon matSuffix matTooltip="Use $1, $2, ... for regex capture groups of the filter.">
            help
          </mat-icon>
        </mat-form-field>

        <button
            type="button"
            color="accent"
            fxFlexAlign="center"
            mat-icon-button
            matTooltip="Delete action"
            [disabled]="rule.actions.length <= 1"
            (click)="removeAction(action)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button
          class="add-action-button"
          type="button"
          mat-mini-fab
          matTooltip="Add action"
          (click)="addAction()">
        <mat-icon>add</mat-icon>
      </button>
    </fieldset>

    <!-- See https://github.com/angular/material2/issues/8798 for why this wrapper is necessary. -->
    <div class="is-last-checkbox">
      <mat-checkbox name="isLast" [(ngModel)]="rule.isLast">
        Do not execute subsequent rules on the same transaction.
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </mat-dialog-actions>
</form>
