<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    <span fxFlex>Transactions</span>
    <app-presets></app-presets>
    <button
        (click)="startAddTransaction()"
        mat-fab
        matTooltip="Add transaction (+) ...">
        <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>
    <app-filter-input [state]="filterState"></app-filter-input>
    
    <div class="transactions-container">
      <div class="header-row" fxLayout="row" fxLayoutGap="5px">
        <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            matTooltip="Select all (Ctrl + A) / none (Ctrl + D)">
        </mat-checkbox>
        <span fxFlex></span>
        <div
            *ngIf="getSelectionSummary() as summary"
            fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="12px"
            class="mat-caption selection-summary">
          <span *ngIf="!summary.datesAreSame">{{summary.dateFirst | date}} - {{summary.dateLast | date}}</span>
          <span>{{summary.diffDays}} days</span>
          <span *ngIf="summary.diffMonths >= 3">{{summary.diffMonths}} months</span>
          <span>
            <span [class.negative]="summary.sumIsNegative">{{summary.sumFormatted}}</span>
            <span *ngIf="summary.hasPositiveAndNegative">
              ({{summary.sumPositiveFormatted}},
              <span class="negative">{{summary.sumNegativeFormatted}}</span>)
            </span>
          </span>
        </div>
        <span class="mat-caption">{{selection.selected.length}}&nbsp;selected</span>

        <button
            mat-icon-button
            color="primary"
            matTooltip="Edit selected (E) ..."
            [disabled]="selection.selected.length !== 1 || !selection.selected[0].single"
            (click)="startEditTransaction(selection.selected[0])">
          <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Split selected (S) ..."
            [disabled]="selection.selected.length !== 1 || !selection.selected[0].single"
            (click)="startSplitTransaction(selection.selected[0])">
          <mat-icon>call_split</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Duplicate selected (D) ..."
            [disabled]="selection.selected.length !== 1 || !selection.selected[0].single"
            (click)="startCopyTransaction(selection.selected[0])">
          <mat-icon>file_copy</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="{{getGroupTooltip(selection.selected)}} selected (G)"
            [disabled]="!canGroup(selection.selected) && !canUngroup(selection.selected)"
            (click)="groupOrUngroupTransactions(selection.selected)">
          <mat-icon>ballot</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Delete selected (Del)"
            [disabled]="selection.selected.length === 0"
            (click)="deleteTransactions(selection.selected)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div
          class="data-row"
          *ngFor="let transaction of (transactionsSubject | async)"
          (click)="$event.stopPropagation(); selection.toggle(transaction)"
          [class.selected]="selection.isSelected(transaction)">
        <mat-checkbox
            class="cell-select"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(transaction) : null"
            [checked]="selection.isSelected(transaction)">
        </mat-checkbox>

        <div class="cell-date">
          <span [matTooltip]="getTransactionDate(transaction) | date:'full'">
            {{getTransactionDate(transaction) | date}}
          </span>
          <span *ngIf="isTransactionGroup(transaction)" class="grouped-comment">
            {{transaction.group.children.length}}&nbsp;grouped
          </span>
        </div>

        <div class="cell-amount">
          <div
              *ngIf="getTransferInfo(transaction) as transfer; else noTransfer"
              class="transfer"
              fxLayout="column" fxLayoutAlign="center end">
            <ng-container *ngIf="transfer.isMultiCurrency; else singleCurrency">
              <span>
                <span>{{transfer.toAmountFormatted}}</span>
                <mat-icon [matTooltip]="transfer.toAccount.name">{{transfer.toAccount.icon}}</mat-icon>
              </span>
              <mat-icon>arrow_upward</mat-icon>
              <span>
                <span>{{transfer.fromAmountFormatted}}</span>
                <mat-icon [matTooltip]="transfer.fromAccount.name">{{transfer.fromAccount.icon}}</mat-icon>
              </span>
            </ng-container>
            <ng-template #singleCurrency>
              <mat-icon [matTooltip]="transfer.toAccount.name">{{transfer.toAccount.icon}}</mat-icon>
              <span>
                <span>{{transfer.fromAmountFormatted}}</span>
                <mat-icon>arrow_upward</mat-icon>
              </span>
              <mat-icon [matTooltip]="transfer.fromAccount.name">{{transfer.fromAccount.icon}}</mat-icon>
            </ng-template>
          </div>

          <ng-template #noTransfer>
            <span
                class="amount-value"
                [class.negative]="isTransactionAmountNegative(transaction)"
                [matTooltip]="formatTransactionAmountAlt(transaction) || ''">
              {{formatTransactionAmount(transaction)}}
            </span>
            <mat-icon>{{getTransactionIcon(transaction)}}</mat-icon>
          </ng-template>
        </div>

        <div class="cell-notes">
          <div *ngFor="let line of formatTransactionNotes(transaction)">
            <span>{{line[0]}}</span>
            <br *ngIf="line[0] && line[1]">
            <span *ngIf="line[1]" class="notes-comment">{{line[1]}}</span>
          </div>
        </div>

        <div class="cell-labels">
          <app-transaction-labels
              [labels]="transaction.labels"
              (labelClick)="filterByLabel($event.label, $event.shiftKey)"
              (labelAdd)="addLabelToTransaction(transaction, $event)"
              (labelDelete)="deleteLabelFromTransaction(transaction, $event)"
              (labelDeleteLast)="deleteLastLabelFromTransaction(transaction)"
              (keydown.arrowup)="navigateLabelEditUp($event)"
              (keydown.arrowdown)="navigateLabelEditDown($event)"
              labelTitle="Click to filter by this label">
          </app-transaction-labels>
        </div>
      </div>
    </div>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
