<form #editForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <div class="title-container" fxLayout="row" fxLayoutAlign="stretch start">
    <h2 mat-dialog-title fxFlex [ngSwitch]="editMode">
      <ng-container *ngSwitchCase="'add'">Add transaction</ng-container>
      <ng-container *ngSwitchCase="'edit'">Edit transaction</ng-container>
      <ng-container *ngSwitchCase="'preset'">Edit preset</ng-container>
    </h2>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div *ngIf="presetData" fxLayout="row" fxLayoutAlign="stretch center" fxLayout.xs="column" fxLayoutAlign.xs="stretch">
      <mat-form-field fxFlex>
        <input
            matInput
            name="presetName"
            [(ngModel)]="presetData.name"
            placeholder="Preset name"
            required>
      </mat-form-field>
      <mat-checkbox
          name="presetSkipDialog"
          [(ngModel)]="presetData.allowModification"
          [value]="true">
        Allow modifications
        <mat-icon class="help-icon" matTooltip="If this is checked, selecting the preset will open this dialog to allow adjusting the values of the new transaction. Otherwise, the transaction will be added with a single click.">help</mat-icon>
      </mat-checkbox>
    </div>

    <mat-tab-group
        fxFlex="none"
        [selectedIndex]="isNegative ? 0 : 1"
        (selectedTabChange)="isNegative = ($event.index === 0)">
      <mat-tab label="Expense"></mat-tab>
      <mat-tab label="Income"></mat-tab>
    </mat-tab-group>

    <div fxFlex="none" fxLayout="row" fxLayoutGap="1em" fxLayout.lt-md="column" fxLayoutGap.lt-md="0">
      <div fxFlex="none" fxFlex.gt-sm="60" fxLayout="column">
        <mat-form-field>
          <mat-select
              required
              name="accountId"
              [(ngModel)]="singleData.accountId"
              placeholder="Account">
            <mat-select-trigger><mat-icon>{{getAccount().icon}}</mat-icon>&nbsp;{{getAccount().name}}</mat-select-trigger>
            <mat-option disabled hidden [value]="0">???</mat-option>
            <mat-option
                *ngIf="closedAccountCandidate"
                [value]="closedAccountCandidate.id">
              <mat-icon>{{closedAccountCandidate.icon}}</mat-icon>&nbsp;{{closedAccountCandidate.name}}
              &nbsp;<mat-icon>warning</mat-icon>
            </mat-option>
            <mat-option
                *ngFor="let account of accountCandidates$ | async"
                [value]="account.id">
              <mat-icon>{{account.icon}}</mat-icon>&nbsp;{{account.name}}
            </mat-option>
          </mat-select>
          <button
              type="button"
              matSuffix
              mat-button
              [hidden]="editMode==='edit' || !singleData.accountId || isAccountDefault()"
              (click)="setAccountDefault(); $event.stopPropagation()">
            Set default
          </button>
        </mat-form-field>
        <div *ngIf="getAccount().closed" class="closed-warning">
          <mat-icon>warning</mat-icon>
          This account is closed!
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="0">
          <mat-form-field fxFlex="none" fxFlex.gt-xs="50">
            <input
                matInput
                type="date"
                name="date"
                [disabled]="editMode === 'preset'"
                [ngModel]="getDate() | date:'yyyy-MM-dd'"
                (ngModelChange)="setDate($event)"
                placeholder="Date"
                required>
          </mat-form-field>
          <mat-form-field
              fxFlex="none"
              fxFlex.gt-xs="50"
              class="amount-field"
              [class.negative]="isNegative">
            <input
                cdkFocusInitial
                matInput
                type="number"
                name="amount"
                min="0"
                step="0.01"
                [ngModel]="getAbsoluteAmount() || null"
                (ngModelChange)="setAmount($event)"
                [required]="editMode !== 'preset' || (presetData && !presetData.allowModification)"
                placeholder="Amount">
            <span matSuffix>&nbsp;{{getCurrencySymbol()}}</span>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input
              matInput
              name="reason"
              [(ngModel)]="singleData.reason"
              placeholder="Reason">
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="who"
              [(ngModel)]="singleData.who"
              placeholder="Who">
        </mat-form-field>
        <app-transaction-labels
            alwaysOpen="true"
            [labels]="transaction.labels"
            (labelAdd)="addLabel($event)"
            (labelDelete)="deleteLabel($event)"
            (labelDeleteLast)="deleteLabel(transaction.labels[transaction.labels.length-1])">
        </app-transaction-labels>
        <app-billing-info [billing]="transaction.billing" unknownPeriodLabel="Inherit from label"></app-billing-info>
      </div>

      <div fxFlex="none" fxFlex.gt-sm="40" fxLayout="column">
        <mat-form-field>
          <textarea
              matInput
              name="comment"
              [(ngModel)]="singleData.comment"
              placeholder="Comment"
              rows="3">
          </textarea>
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="whoIdentifier"
              [(ngModel)]="singleData.whoIdentifier"
              placeholder="IBAN">
        </mat-form-field>
        <mat-form-field>
          <input
              matInput
              name="bookingText"
              [(ngModel)]="singleData.bookingText"
              placeholder="Booking text">
        </mat-form-field>
      </div>
    </div>
    
    <p *ngIf="editMode==='edit'">
      This transaction is
      {{singleData.importedRowId > 0 ? 'linked to CSV row #' + singleData.importedRowId : 'not linked to a CSV row'}}.<br>
      It was created on {{getDateCreated() | date:'medium'}} and
      {{getDateModified() ? 'modified on ' + (getDateModified() | date:'medium') : 'never modified'}}.
    </p>
  </mat-dialog-content>
  
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!editForm.valid" color="primary">Save</button>
  </mat-dialog-actions>
</form>
