@media screen and (max-width: 599px) {
  .title-container {
    margin-top: -10px;
  }
  .title-container .mat-dialog-title {
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 960px) {
  .mat-dialog-content {
    width: 760px;
  }
}

.mat-tab-group {
  padding-bottom: 1.25em;
}

.closed-warning {
  margin-bottom: 1em;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #eee;
  color: #960;
}

app-transaction-labels {
  padding-top: 11px;
  padding-bottom: 1.25em;
}