
.csv-table {
  border-collapse: collapse;
}

.csv-table .subheading {
  text-align: left;
  padding-top: 24px;
  padding-bottom: 8px;
}

.csv-table td {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.csv-table td.label {
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.66);
}

.csv-table td.value {
  padding-right: 8px;
}

.csv-table tr:hover td {
  background-color: rgba(0, 0, 32, 0.05);
}

.monospace {
  font-family: monospace;
}