<mat-form-field
    (focusin)="setIsOpen(true)"
    (focusout)="setIsOpen(false)"
    (click)="$event.stopPropagation()"
    floatLabel="never"
    fxFill>
  <input
      #labelInput
      (keyup.enter)="confirmAdd()"
      (keydown.backspace)="newLabel==='' ? requestDelete() : 0"
      (keydown.escape)="labelAutocomplete.isOpen ? 0 : labelInput.blur()"
      [(ngModel)]="newLabel"
      matInput
      [matAutocomplete]="labelAutocomplete"
      placeholder="Add label">
  <button
      (click)="confirmAdd()"
      [hidden]="!isOpen"
      mat-icon-button
      matSuffix>
    <mat-icon>check</mat-icon>
  </button>
  <button
      (focus)="labelInput.focus()"
      [hidden]="isOpen"
      tabindex="-1"
      mat-icon-button
      matSuffix>
    <mat-icon>add</mat-icon>
  </button>

  <mat-autocomplete autoActiveFirstOption #labelAutocomplete="matAutocomplete">
    <mat-option *ngFor="let label of allLabelsFiltered$ | async" [value]="label">{{label}}</mat-option>
  </mat-autocomplete>
</mat-form-field>
