<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    <span fxFlex>Transactions</span>
    <button
        (click)="openImportCsvDialog()"
        mat-fab
        matTooltip="Import CSV">
        <mat-icon>attachment</mat-icon>
    </button>
    <button
        (click)="openAddTransactionDialog()"
        mat-fab
        matTooltip="Add transaction">
        <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>
    <mat-form-field class="filter-input">
      <input matInput type="search" [(ngModel)]="filterInput" placeholder="Filter">
      <button
          mat-icon-button
          matSuffix
          title="Clear filter"
          *ngIf="filterInput!==''"
          (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
      <span class="mat-caption">{{selection.selected.length}} selected</span>
      <button
          mat-icon-button
          color="primary"
          matTooltip="Edit selected"
          [disabled]="selection.selected.length !== 1"
          (click)="editTransaction(selection.selected[0])">
        <mat-icon>edit</mat-icon>
      </button>
      <button
          mat-icon-button
          color="primary"
          matTooltip="Delete selected"
          [disabled]="selection.selected.length === 0"
          (click)="deleteSelectedTransactions()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="transactionsDataSource">
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef fxHide.xs>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" fxHide.xs>
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let transaction" [matTooltip]="getTransactionDate(transaction) | date:'medium'">
              <span fxHide.lt-md>{{getTransactionDate(transaction) | date}}</span>
              <span fxHide.gt-sm>{{getTransactionDate(transaction) | date:'MMM d'}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell
              *matCellDef="let transaction"
              [class.negative]="getTransactionAmount(transaction) < 0">
            {{getTransactionAmount(transaction) | number:'1.2-2'}}&nbsp;€
          </td>
        </ng-container>
        <ng-container matColumnDef="labels">
          <th mat-header-cell *matHeaderCellDef>Labels</th>
          <td mat-cell *matCellDef="let transaction">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <div
                  *ngFor="let label of transaction.labels"
                  class="label-container">
                <button
                    (click)="$event.stopPropagation(); filterByLabel(label, $event.shiftKey)"
                    title="Click to filter by this label"
                    class="label-filter-button">
                  {{label}}
                </button>
                <button
                    (click)="$event.stopPropagation(); deleteLabelFromTransaction(transaction, label)"
                    title="Delete this label"
                    class="label-delete-button">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <app-add-inline-label
                  #addInlineLabel
                  (addRequested)="addLabelToTransaction(transaction, $event)"
                  (deleteLastRequested)="deleteLastLabelFromTransaction(transaction)"
                  class="add-inline-label"
                  [class.open]="addInlineLabel.isOpen">
              </app-add-inline-label>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let transaction">{{formatTransactionNotes(transaction)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['select', 'date', 'amount', 'note', 'labels']; sticky: true"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['select', 'date', 'amount', 'note', 'labels']"
            (click)="$event.stopPropagation(); selection.toggle(row)"
            [class.selected]="selection.isSelected(row)">
        </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
