
.filter-input {
  width: 100%;
}

.transactions-container .header-row {
  position: sticky;
  top: 56px;
  z-index: 100;
  padding: 10px 24px;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  background: white;
}

.transactions-container .header-row .selection-summary {
  flex-grow: 1;
  text-align: center;
}

.transactions-container .data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  cursor: pointer;
}
.transactions-container .data-row.selected {
  background: #eee;
}

.transactions-container .data-row > * {
  /* Note: Don't use combined notation, we override top and bottom later. */
  padding-left: 10px;
  padding-right: 10px;
}



.transactions-container .cell-date {
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
}
.transactions-container .cell-date .grouped-comment {
  color: rgba(0,0,0, 0.54);
  font-size: 90%;
}

.transactions-container .cell-amount {
  flex: 0 0 110px;
  min-width: 0;
  text-align: right;
  font-size: 120%;
  white-space: nowrap;
}
.negative {
  color: #e74c3c;
}
.transactions-container .cell-amount .mat-icon {
  font-size: 18px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.54);
}

.transactions-container .cell-notes {
  flex: 1 1 60%;
  min-width: 0;
  word-wrap: break-word;
}
.transactions-container .cell-notes .notes-comment {
  color: rgba(0,0,0, 0.54);
  font-size: 90%;
}


.transactions-container .cell-labels {
  flex: 0 1 40%;
}


@media screen and (max-width: 959px) {
  .transactions-container {
    margin-left: -10px;
    margin-right: -10px;
  }

  .transactions-container .header-row {
    top: 0;  /* Because main toolbar is no longer sticky. */
    padding-left: 10px;
    padding-right: 10px;
  }

  .transactions-container .data-row {
    position: relative;
    flex-wrap: wrap;
    padding-left: 32px; /* leave space for absolutely positioned select */
    padding-right: 0;
  }

  .transactions-container .cell-select {
    position: absolute;
    left: 0;
  }

  .transactions-container .cell-date {
    flex-grow: 1;
    display: block;
  }

  .transactions-container .cell-date .grouped-comment {
    margin-left: 15px;
  }

  .transactions-container .cell-amount {
    page-break-after: always;
  }

  .transactions-container .cell-notes {
    flex-basis: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .transactions-container .cell-labels {
    flex-basis: 100%;
  }
}
