
.filter-input {
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-row {
  cursor: pointer;
}
.mat-row.selected {
  background: #eee;
}

.mat-header-cell, .mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-date {
  width: 90px;
}
.mat-column-amount {
  width: 95px;
  text-align: right;
}
.mat-column-amount.negative {
  color: #e74c3c;
}
.mat-column-labels {
  width: 350px;
}
.mat-column-labels .label-container {
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #eef;
  border: 1px solid #999;
  border-radius: 5px;
}
.mat-column-labels .label-filter-button,
.mat-column-labels .label-delete-button {
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.mat-column-labels .label-delete-button {
  border-left: 1px solid #999;
}

.mat-column-labels .label-delete-button .mat-icon {
  width: 1em;
  height: 1em;
  font-size: inherit;
  transform: translateY(0.15em);
}

.add-inline-label {
  width: 20px;
  flex: 0 0 auto;
  transition: flex-grow 0.2s;
}

.add-inline-label.open {
  width: 75px;
  flex-grow: 1;
}
