<mat-card class="main-card">
  <mat-card-title>Transactions</mat-card-title>

  <mat-card-content>
    <mat-form-field class="filter-input">
      <input matInput type="search" [(ngModel)]="transactionsDataSource.filter" placeholder="Filter">
      <button
          mat-icon-button
          matSuffix
          title="Clear filter"
          (click)="transactionsDataSource.filter=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <table mat-table [dataSource]="transactionsDataSource">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.date | date}}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let transaction" [class.negative]="transaction.amount < 0">{{transaction.amount | currency}}</td>
        </ng-container>
        <ng-container matColumnDef="labels">
          <th mat-header-cell *matHeaderCellDef>Labels</th>
          <td mat-cell *matCellDef="let transaction">
            <button
                *ngFor="let label of transaction.labels"
                (click)="filterByLabel(label, $event.shiftKey)"
                class="transaction-label">
              {{label}}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let transaction">{{[transaction.who, transaction.comment].join(", ")}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['date', 'amount', 'labels', 'note']"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: ['date', 'amount', 'labels', 'note']"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
