:host {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px 8px;
  border-radius: 12px;
  cursor: default;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.6) inset;
}

:host(.inline) {
  display: inline-flex;
}

:host(.clickable) {
  cursor: pointer;
}

:host(.clickable:focus) {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6) inset,
              0 0 0 100px rgba(255, 255, 255, 0.4) inset;
  transition: box-shadow 150ms linear;
}

.label-delete-button {
  margin: -5px -8px -5px 5px;
  padding: 5px 8px 5px 4px;
  border-left: 1px solid #999;
  cursor: pointer;
}

.label-delete-button .mat-icon {
  width: 1em;
  height: 1em;
  font-size: inherit;
}

@media screen and (max-width: 959px) {
  :host {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .label-delete-button {
    margin-top: -3px;
    margin-bottom: -3px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
