<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    <span fxFlex>Rules</span>
    <button
        mat-fab
        matTooltip="Add rule"
        (click)="startAdd()">
        <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content class="rules-container">
    <div class="header-row">
      <div class="cell-drag-handle"></div>
      <div class="cell-trigger">Trigger</div>
      <div class="cell-filter">Filter</div>
      <div class="cell-actions">Actions</div>
      <div class="cell-buttons"></div>
    </div>
    <div
        *ngIf="rules$ | async as currentRules"
        cdkDropList
        cdkDropListLockAxis="y"
        (cdkDropListDropped)="drop(currentRules, $event)">
      <div
          class="data-row"
          *ngFor="let rule of currentRules"
          cdkDrag>
        <div class="cell-drag-handle" title="Drag to reorder" cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="cell-trigger">
          <mat-icon class="trigger" [class.active]="rule.triggers.includes(TRIGGER_ADDED)">add</mat-icon>
          <mat-icon class="trigger" [class.active]="rule.triggers.includes(TRIGGER_IMPORTED)">attachment</mat-icon>
          <mat-icon class="trigger" [class.active]="rule.triggers.includes(TRIGGER_MODIFIED)">edit</mat-icon>
        </div>

        <div class="cell-filter">
          <mat-icon class="filter-icon">filter_list</mat-icon>
          <span class="filter-text">{{rule.filter}}</span>
        </div>

        <div class="cell-actions">
          <div class="action" *ngFor="let action of rule.actions" [ngSwitch]="action.type">
            <span *ngSwitchCase="'addLabel'">
              Add label <app-label inline>{{action.addLabel}}</app-label>.
            </span>
            <span *ngSwitchCase="'removeLabel'">
              Remove label <app-label inline>{{action.removeLabel}}</app-label>.
            </span>
            <span *ngSwitchCase="'setField'">
              Set field <span class="field-name">{{formatFieldName(action.setField.fieldName)}}</span>
              to <span class="field-value">{{action.setField.value}}</span>.
            </span>
            <span *ngSwitchDefault>Unknown action.</span>
          </div>
          <div class="action" *ngIf="rule.isLast">
            <span>Do not execute subsequent rules on the same transaction.</span>
          </div>
        </div>

        <div class="cell-buttons">
          <button
              mat-icon-button
              color="primary"
              matTooltip="Edit rule"
              (click)="startEdit(rule)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
              mat-icon-button
              color="primary"
              matTooltip="Delete rule"
              (click)="delete(rule)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <p *ngIf="currentRules.length === 0" style="text-align: center;">
        You have not created any processing rules yet. Set up rules in order to automatically apply
        labels to transactions based on various criteria.<br>
        Click the button on the top right to create your first rule.
      </p>
    </div>
  </mat-card-content>
</mat-card>
