<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    <span fxFlex>Accounts</span>
    <button
        mat-fab
        matTooltip="Add account"
        (click)="startAdd()">
        <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content class="accounts-container" *ngIf="accounts$ | async as currentAccounts">
    <div class="header-row">
      <div class="cell-icon"></div>
      <div class="cell-name">Name</div>
      <div class="cell-balance">Balance</div>
      <div class="cell-last-transaction">Last transaction</div>
      <div class="cell-last-known-date">Last known balance</div>
      <div class="cell-buttons"></div>
    </div>

    <div
        class="data-row"
        *ngFor="let account of currentAccounts">
      <mat-icon class="cell-icon">{{account.icon}}</mat-icon>
      <div class="cell-name">
        {{account.name}}
        <span class="account-iban" *ngIf="account.iban">{{account.iban}}</span>
        <span class="account-comment" *ngIf="account.comment">{{account.comment}}</span>
      </div>
      <div
          class="cell-balance amount"
          [class.negative]="getAccountInfo(account).balance < 0">
        <a href
            class="amount-link"
            matTooltip="Click to record new known balance"
            (click)="$event.preventDefault(); openBalances(account)">{{formatBalance(account)}}</a>
      </div>
      <div class="cell-last-transaction">
        {{getAccountInfo(account).lastTransactionMoment?.format('ll') || '-'}}
      </div>
      <div class="cell-last-known-date">
        {{getAccountInfo(account).lastKnownBalanceMoment?.format('ll') || '-'}}
        <br>
        <span class="secondary" *ngIf="getAccountInfo(account).lastKnownBalanceMoment">
          {{getAccountInfo(account).numTransactionsSinceLastKnown}}
          transaction{{getAccountInfo(account).numTransactionsSinceLastKnown === 1 ? '' : 's'}}
          since then
        </span>
      </div>
      <div class="cell-buttons">
        <button
            mat-icon-button
            color="primary"
            matTooltip="Import transactions from CSV"
            (click)="startImport(account)">
          <mat-icon>attachment</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Edit account details"
            (click)="startEdit(account)">
          <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Delete account"
            (click)="delete(account)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="footer-row">
        <div class="cell-icon"></div>
        <div class="cell-name">All accounts:</div>
        <div class="cell-balance" [class.negative]="isTotalBalanceNegative()">{{formatTotalBalance()}}</div>
        <div class="cell-last-transaction"></div>
        <div class="cell-last-known-date"></div>
        <div class="cell-buttons" fxLayout="row" fxLayoutAlign="stretch center">
          <mat-form-field fxFlex>
            <mat-select
                [ngModel]="getMainCurrency()"
                (ngModelChange)="setMainCurrency($event)"
                placeholder="Main currency">
              <mat-option
                  *ngFor="let curr of (usedCurrencies$ | async)"
                  [value]="curr">
                {{curr}}
              </mat-option>
            </mat-select>
            <mat-hint>All foreign currencies will be converted to this throughout the app.</mat-hint>
          </mat-form-field>
        </div>
    </div>
  </mat-card-content>
</mat-card>
