
.header-row,
.data-row,
.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.header-row > *,
.data-row > *,
.footer-row > * {
  /* Note: Don't use combined notation, we override top and bottom later. */
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}

.header-row {
  position: sticky;
  top: 56px;
  z-index: 100;
  background: white;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
}

.footer-row {
  border-top: 4px double rgba(0,0,0,.24);
  font-weight: bold;
}

.cell-icon {
  flex: 0 0 24px;
}

.cell-name {
  flex: 0 1 300px;
}
.cell-name .account-iban {
  display: block;
  margin-top: .5em;
  color: rgba(0,0,0, .66);
  user-select: all;
}
.cell-name .account-comment {
  display: block;
  margin-top: .5em;
  color: rgba(0,0,0, .5);
  white-space: pre-wrap;
}
.footer-row .cell-name {
  text-align: right;
}

.cell-balance {
  flex: 0 0 110px;
  text-align: right;
  font-size: 120%;
  white-space: nowrap;
}
.cell-balance .amount-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0,0,0, .66);
}

.cell-last-transaction {
  flex: 0 0 105px;
}

.cell-last-known-date {
  flex: 0 2 185px;
}

.cell-buttons {
  flex: 1 1 210px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 959px) {
  .accounts-container {
    margin-left: -10px;
    margin-right: -10px;
  }

  .header-row {
    top: 0; /* Because main toolbar is no longer sticky. */
  }

  .header-row,
  .data-row,
  .footer-row {
    flex-wrap: wrap;
  }
}
