
.header-row,
.data-row,
.footer-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.header-row > *,
.data-row > *,
.footer-row > * {
  /* Note: Don't use combined notation, we override top and bottom later. */
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}

.header-row {
  position: sticky;
  top: 56px;
  z-index: 100;
  background: white;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
}

.header-row .cell-balance {
  font-size: inherit;
}

.footer-row {
  border-top: 4px double rgba(0,0,0,.24);
  border-bottom: 4px double rgba(0,0,0,.24);
  font-weight: bold;
}

.cell-icon {
  flex: 0 0 24px;
  margin-bottom: 10px;
  align-self: start;
}

.cell-name {
  flex: 3 0 150px;
}
.cell-name .account-iban {
  display: block;
  margin-top: .5em;
  color: rgba(0,0,0, .66);
  user-select: all;
}
.cell-name .account-comment {
  display: block;
  margin-top: .5em;
  color: rgba(0,0,0, .5);
  white-space: pre-wrap;
}
.footer-row .cell-name {
  text-align: right;
}

.cell-balance {
  flex: 0 0 120px;
  display: flex;
  justify-content: end;
  font-size: 120%;
  white-space: nowrap;
}

.cell-last-transaction {
  flex: 0 0 105px;
}

.cell-last-known-date {
  flex: 0 0 160px;
}
.cell-last-known-date .secondary {
  color: rgba(0,0,0, .66);
  font-size: 90%;
}

.cell-buttons {
  flex: 1 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/** Main currency selector. */
.footer-row .cell-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.footer-row .cell-buttons > * {
  min-width: 250px; /* Force to 250px, ignoring flex. */
}

@media screen and (max-width: 959px) {
  .accounts-container {
    margin-left: -10px;
    margin-right: -10px;
  }

  .header-row {
    top: 0; /* Because main toolbar is no longer sticky. */
  }

  .header-row .cell-last-transaction,
  .footer-row .cell-last-transaction,
  .header-row .cell-last-known-date,
  .footer-row .cell-last-known-date,
  .footer-row .cell-icon {
    display: none;
  }

  .data-row .cell-name {
    /* Make space for absolutely positioned balance. */
    min-height: 50px;
    margin-bottom: 10px;
    margin-right: 120px;
  }
  .cell-balance {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .cell-last-transaction {
    position: absolute;
    right: 10px;
    top: 40px;
  }
  .cell-last-known-date {
    flex: 1 1 100%;
    text-align: right;
  }
  .cell-last-known-date::before {
    content: "Last known balance: ";
    color: rgba(0,0,0, .66);
    font-size: 90%;
  }
  .cell-buttons {
    /* Place buttons on their own row. */
    flex: 0 0 100%;
  }

  .footer-row .cell-name {
    text-align: left;
    margin-bottom: 24px;
  }
}
