<mat-card class="main-card">
  <mat-card-title fxLayout="row" fxLayoutGap="10px">
    <span fxFlex>Settings</span>
  </mat-card-title>

  <!-- Note: No flex layout here to retain box layout / collapsing margins / hr, etc. -->
  <mat-card-content>
    <p>
      The data key identifies your personal finance database when syncing it to the server.
      To access your data on a different device, enter this key in the settings of that device.
    </p>
    <p>
      By setting an end-to-end encryption password, you ensure that only you can access your database.
      <strong>Do not lose your password!</strong> There is no way to access your data if you lose it.
      Please use a strong password and take note of it in a secure location, preferably by using a
      password manager.
    </p>
    <form #settingsForm="ngForm" action="#" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field>
          <input
              #dataKey="ngModel"
              matInput
              name="dataKey"
              [(ngModel)]="storageSettings.dataKey"
              [pattern]="dataKeyPattern"
              placeholder="Data key"
              required>
        </mat-form-field>
        <button
            mat-raised-button
            type="button"
            (click)="randomizeDataKey()">
          Randomize
        </button>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field floatLabel="always" class="password-form-field">
          <input
              #encryptionPassword
              type="password"
              matInput
              name="encryptionPassword"
              [(ngModel)]="newPassword"
              [disabled]="!isEnteringPassword()"
              placeholder="Encryption password"
              required>
            <mat-icon matSuffix [hidden]="isEnteringPassword()">check_circle</mat-icon>
        </mat-form-field>
        <button
            mat-raised-button
            type="button"
            color="primary"
            [hidden]="isEnteringPassword()"
            (click)="newPassword = ''; encryptionPassword.focus()">
          Change
        </button>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button
            fxFlexAlign="start"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!settingsForm.valid || !hasStorageChanges()">
          {{hasChangePasswordIntent() ? 'Change password' : 'Save'}}
        </button>
        <span class="error" *ngIf="dataKey.invalid && dataKey.touched && dataKey.errors.required">
          Please enter a data key.
        </span>
        <span class="error" *ngIf="dataKey.invalid && dataKey.touched && dataKey.errors.pattern">
          The pattern of the data key is incorrect.
          It should have the form XXXX-XXXX-XXXX-XXXX.
        </span>
        <span class="error" *ngIf="hasPasswordError">
          The password does not seem to be correct!
        </span>
      </div>
    </form>

    <hr>
    <app-bank-sync></app-bank-sync>
    <hr>

    <h2>Backup</h2>
    <p>
      You can export the entire binary database for backup purposes or to integrate with a different
      service. The data is in gzipped
      <a href="https://developers.google.com/protocol-buffers" target="_blank">protocol buffer</a>
      format. If you want to parse the data outside of this tool, you can use the
      <a href="https://github.com/Bone008/finance-tracker/tree/master/src/proto" target="_blank">
        proto message types on GitHub.
      </a>
    </p>
    <p>
      Backups are <a href="https://github.com/Bone008/finance-tracker/issues/174" target="_blank">currently</a>
      not encrypted.
    </p>
    <button
        mat-raised-button
        color="primary"
        (click)="exportData()">
      Download data
    </button>
  </mat-card-content>
</mat-card>
