:host {
  display: flex;
  flex-direction: column;
}

.relative-picker {
  width: 60px;
}

::ng-deep .relative-picker .mat-form-field-prefix {
  width: 0;
}
::ng-deep .relative-picker .mat-form-field-infix {
  margin-left: 9px;
}

.day-picker, .month-picker, .year-picker {
  width: 140px;
}
