@import "~@angular/material/prebuilt-themes/indigo-pink.css";

[hidden] {
  display: none !important;
}

body {
  margin: 0;
  background: #eef;
  font-family: Roboto, sans-serif;
}

.main-card {
  margin-top: 20px;
}

.amount-field input {
  text-align: right;
  -moz-appearance: textfield; /* hide spinner in Firefox */
}
.amount-field.negative {
  color: #e74c3c;
}

.amount-field input::-webkit-outer-spin-button,
.amount-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (max-width: 599px) {
  /* On xs screens, force dialogs to full width. */
  .cdk-overlay-pane {
    max-width: none !important;
    width: 100%;
    margin: 0 10px;
  }
}
