@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: #eef;
  font-family: Roboto, sans-serif;
}

.main-card {
  margin-top: 20px;
}

.flex {
  display: flex !important;
}
.flex-spacer {
  flex: 1 1 auto;
}