<h2>My Heroes</h2>
<table class="heroes">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date created</th>
  </tr>
  <tr
      *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <td>{{hero.id}}</td>
    <td>{{hero.name}}</td>
    <td>{{hero.dateCreated | date}}</td>
  </tr>
</table>

<div *ngIf="selectedHero">
  <p>
    Mah hero
    <strong>{{selectedHero.name | uppercase}}</strong> is pretty old: {{getSelectedHeroAge() | number:'0.0-0'}} hours!
  </p>
  <p>
    <label>Name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </p>
</div>
<div *ngIf="!selectedHero">
  <p><i>No hero selected.</i></p>
</div>